{:remote-repo {:git-url "https://github.com/scicloj/clojure-data-cookbook"
               :branch "main"}
 :quarto {:format {:html {:toc true
                          :toc-depth 4
                          :theme :spacelab}}
          :highlight-style :solarized
          :code-block-background true
          :embed-resources false
          :execute {:freeze true}}}
