{:remote-repo {:git-url "https://github.com/scicloj/clojure-data-cookbook"
               :branch "main"}
 :kindly/options {:datatables {:paging false
                               :scrollY 400
                               :scrollX 700
                               :sPaginationType "full_numbers"
                               :order []}
                  :element/max-height nil}
 :quarto {:format {:html {:css "src/styles.css"}}
          :include-in-header {:text "<link rel = \"icon\" href = \"data:,\" />\n<script defer src=\"https://cloud.umami.is/script.js\" data-website-id=\"7612edfb-6430-4b4e-8cec-e648f6cb41cc\"></script>"}}}


;; dream config someday to specify chapter config here:
          ;; :chapters ["index.md"
          ;;            "book/why-clojure.md"
          ;;            "book/introduction.md"
          ;;            {:part "book/part_1_data_import/0_data_import.md"
          ;;             :chapters ["book/part_1_data_import/1_tabular_data.clj"]}
          ;;            ;; {:part "end-to-end.qmd"
          ;;            ;;  :chapters ["workflow.qmd"
          ;;            ;;             "tidy-data.qmd"
          ;;            ;;             "data-transformation.qmd"]
          ;;            ;;  }
          ;;            ]
