{:paths ["src" "data"]
 :deps {;; core Clojure for data science
        org.scicloj/clay {:mvn/version "2-beta9"}
        org.clojure/clojure {:mvn/version "1.11.3"}
        org.scicloj/noj {:mvn/version "1-alpha34"}
        scicloj/tablecloth {:mvn/version "7.029.2"}

        ;; logging
        org.apache.logging.log4j/log4j-core {:mvn/version "2.23.1"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}

        ;; databases
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        io.github.swirrl/grafter.core {:mvn/version "3.0.0"}
        io.github.swirrl/grafter.repository {:mvn/version "3.0.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.45.3.0"}

        ;; stats
        generateme/fastmath {:mvn/version "2.4.0"}

        ;; excel
        org.apache.poi/poi {:mvn/version "5.2.5"}
        org.apache.poi/poi-ooxml {:mvn/version "5.2.5"}
        org.dhatim/fastexcel-reader {:mvn/version "0.16.4"
                                     :exclusions [org.apache.poi/poi-ooxml]}

        ;; parquet

        ;; Note that these exclusions are carefully chosen to avoid the myriad of
        ;; serious CVE issues associated with hadoop
        org.apache.parquet/parquet-hadoop {:mvn/version "1.12.0"
                                           :exclusions [org.slf4j/slf4j-log4j12]}
        org.apache.hadoop/hadoop-common {:mvn/version "3.3.0"
                                         :exclusions  [com.sun.jersey/jersey-core
                                                       com.sun.jersey/jersey-json
                                                       com.sun.jersey/jersey-server
                                                       com.sun.jersey/jersey-servlet

                                                       dnsjava/dnsjava

                                                       org.eclipse.jetty/jetty-server
                                                       org.eclipse.jetty/jetty-servlet
                                                       org.eclipse.jetty/jetty-util
                                                       org.eclipse.jetty/jetty-webapp

                                                       javax.activation/javax.activation-api
                                                       javax.servlet.jsp/jsp-api
                                                       javax.servlet/javax.servlet-api

                                                       io.netty/netty-codec
                                                       io.netty/netty-handler
                                                       io.netty/netty-transport
                                                       io.netty/netty-transport-native-epoll

                                                       org.codehaus.jettison/jettison

                                                       org.apache.zookeeper/zookeeper

                                                       org.apache.curator/curator-recipes
                                                       org.apache.curator/curator-client
                                                       org.apache.htrace/htrace-core4

                                                       org.apache.hadoop.thirdparty/hadoop-shaded-protobuf_3_7
                                                       org.apache.hadoop/hadoop-auth

                                                       org.apache.kerby/kerb-core

                                                       commons-cli/commons-cli
                                                       commons-net/commons-net
                                                       org.apache.commons/commons-lang3
                                                       org.apache.commons/commons-text
                                                       org.apache.commons/commons-configuration2

                                                       com.google.re2j/re2j
                                                       com.google.code.findbugs/jsr305

                                                       com.jcraft/jsch

                                                       log4j/log4j
                                                       org.slf4j/slf4j-log4j12]}
        org.apache.hadoop/hadoop-mapreduce-client-core {:mvn/version "3.3.0"
                                                        :exclusions  [org.slf4j/slf4j-log4j12
                                                                      org.apache.avro/avro
                                                                      org.apache.hadoop/hadoop-yarn-client
                                                                      org.apache.hadoop/hadoop-yarn-common
                                                                      org.apache.hadoop/hadoop-annotations
                                                                      org.apache.hadoop/hadoop-hdfs-client
                                                                      io.netty/netty
                                                                      com.google.inject.extensions/guice-servlet]}
        ;; Apple silicon support for snappy
        org.xerial.snappy/snappy-java {:mvn/version "1.1.8.4"}
        }

 :aliases
 {:dev {:extra-paths ["env/dev/src"]
        :extra-deps  {djblue/portal {:mvn/version "0.55.1"}
                      org.scicloj/kind-portal {:mvn/version "1-beta1"}
                      org.scicloj/kind-clerk {:mvn/version "1-alpha8"}}}}}
