.table {
  width: auto;
}

.clay-image img {
  max-width: 100%;
}

.clay-sequential, .clay-map {
  width: unset !important;
}

.clay-dataset {
  overflow-x: auto;
}

/* .clay-dataset { */
/*   border-right: 2px solid gold; */
/* } */

.clay-dataset::-webkit-scrollbar {
  height: 12px;
}

.clay-dataset::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.clay-dataset::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.clay-dataset::-webkit-scrollbar-thumb:hover {
  background: #555;
}
